@import "responsive-table";

%subtleGradient {
	@include linear-gradient($subtleGradientStart, $subtleGradientEnd);
	box-shadow:inset 0 1px rgba(255,255,255,0.8),inset 0 -1px rgba(255,255,255,0.3);
}

%box-shape {
	margin:1.5rem 0;
	padding:.5rem .875rem;	
	border-radius:3px;
	text-shadow:0 1px rgba(255,255,255,0.3);
	box-shadow:inset 0 1px rgba(255,255,255,0.2),0 1px 1px rgba(0,0,0,0.04);
}

@mixin box($bg:#f7f7fa, $borderColor: #d5d5d5 #d5d5d5 #d1d1d1) {
	@extend %box-shape;
	border-width:1px;
	border-style:solid;
	background:$bg;
	border-color:$borderColor;
}

%notebox {
	@include box(#faf9e2, #dddaaa #dddaaa #d7d7a9);
	/*color:darken(#dddaaa,40%);*/
}